.idea/
*.iml
**/target/
**/*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
p2pdinner-clients/p2pdinner-android-client/app/app.iml
p2pdinner-clients/p2pdinner-android-client/.idea/misc.xml
node_modules/
