doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Droid+Sans")
    link(href="/bower_components/bootcards/dist/css/bootcards-desktop.min.css",rel="stylesheet")
    link(href="/bower_components/bootstrap/dist/css/bootstrap-theme.css",rel="stylesheet")
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
    link(href="/bower_components/datatables/media/css/jquery.dataTables.min.css", rel="stylesheet")
    link(href="/bower_components/datatables/media/css/jquery.dataTables_themeroller.css", rel="stylesheet")
    link(href="/bower_components/ng-table/ng-table.css", rel="stylesheet")
    script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/underscore/underscore-min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
  body
    block content
