<div id="dinner-listing">
    <form role="form">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" ng-model="title" placeholder="Title"/>
        <label for="txtDescription">Description</label>
        <textarea class="form-control" rows="3" id="txtDescription" ng-model="description"></textarea>
        <label for="inputCost">Cost</label>
        <input type="text" class="form-control" id="inputCost" ng-model="cost" placeholder="Cost"/>
        <label for="inputStartDate">Start Date (MM/DD/YYYY HH24:MI:SS)</label>
        <input type="text" id="startDate" class="form-control" ng-model="startDate" placeholder="start date"/>

    </form>
</div>