	<div id="keyvalue">
		<div id="add" ng-init="init()">
			<form role="form">
				<div class="form-group">
					<label for="keyNameInput">Key</label>
					<input type="text" class="form-control" name="key" ng-model="key" placeHolder="key" />
				</div>
				<div class="form-group">
					<label for="valueNameInput">Value</label>
					<input type="text" class="form-control" id="valueNameInput" placeHolder="value" ng-model="value" />
				</div>
				<button type="button" class="btn btn-primary" ng-click='addKeyValue()'>Add</button>
			</form>
		</div>
		<div id="view">
			<table class="table table-striped table-hover">
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
				<tbody>
					<tr ng-repeat="kv in keyValuePairs">
						<td>{{kv.key}}</td>
						<td>{{kv.value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>