<div id="menu" ng-init="init()">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				Add Menu Item
			</div>
			<div class="panel-body" >
				<div class="form-group">
					<label for="title">Title</label>
					<input type="title" class="form-control" id="title" placeholder="Title" ng-model="title">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<input type="description" class="form-control" id="description" placeholder="Description" ng-model="description">
				</div>
				<div class="form-group">
					<label for="category">Category</label>
					<select id="category" class="form-control" ng-options="opt.name for opt in dinner_categories track by opt.name" ng-model="dinner_category" ></select>
				</div>
				<div class="form-group">
					<label for="special_needs">Special Needs</label>
					<select class="form-control" id="special_needs" ng-options="opt.name for opt in dinner_special_needs track by opt.name" ng-model="dinner_special_need" ></select>
				</div>
				<div class="form-group">
					<label for="delivery">Delivery</label>
					<select id="delivery" class="form-control" ng-options="opt.name for opt in dinner_deliveries track by opt.name" ng-model="dinner_delivery" ></select>
				</div>
				<button type="submit" class="btn btn-primary" ng-click="createMenuItem();">
					Submit
				</button>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				Menu Items
			</div>
			<table class="table table-striped" id="menu_items" ng-table>
				<thead>
					<th>Title</th>
					<th>Description</th>
					<th>Categories</th>
					<th>Special Needs</th>
					<th>Delivery</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="m in menu">
						<td>{{m.title}}</td>
						<td>{{m.description}}</td>
						<td>{{m.dinnerCategories}}</td>
						<td>{{m.dinnerSpecialNeeds}}</td>
						<td>{{m.dinnerDelivery}}</td>
						<td><a ng-click="showAddToDinnerListDialog(m.id);"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-default">
			<button class="btn btn-primary pull-right" type="button" ng-click="showCartItems();">
				Cart <span class="badge">{{cartItemsCount}}</span>
			</button>
			<div class="panel-heading">
				Current Listings
			</div>
			<table class="table table-striped" id="listings" ng-table>
				<thead>
					<th>Title</th>
					<th>Description</th>
					<th>Categories</th>
					<th>Special Needs</th>
					<th>Delivery</th>
					<th>cost</th>
					<th>Available Quantity</th>
					<th>Add to Cart</th>
				</thead>
				<tbody>
					<tr ng-repeat="l in current_listings">
						<td>{{l.title}}</td>
						<td>{{l.description}}</td>
						<td>{{l.categories}}</td>
						<td>{{l.special_needs}}</td>
						<td>{{l.delivery}}</td>
						<td>{{l.listing.cost_per_item}}</td>
						<td>{{l.listing.quantity_available}}</td>
						<td><a ng-click="showAddToCartDialog(l.listing.listing_id);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">List This Item For Dinner</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="cost_per_item">Cost Per Item</label>
							<input type="title" class="form-control" id="cost_per_item" placeholder="Cost" ng-model="cost_per_item">
						</div>
						<div class="form-group">
							<label for="available_quantity">Available Quantity</label>
							<input type="available_quantity" class="form-control" id="available_quantity" placeholder="Quantity Available" ng-model="available_quantity">
						</div>
						<div class="form-group">
							<label for="start_time">Start Time(MM/DD/YY HH24:MI:SS)</label>
							<input type="start_time" class="form-control" id="start_time" placeholder="Start Time" ng-model="start_time">
						</div>
						<div class="form-group">
							<label for="end_time">End Time (MM/DD/YY HH24:MI:SS)</label>
							<input type="end_time" class="form-control" id="end_time" placeholder="End Time" ng-model="end_time">
						</div>
						<div class="form-group">
							<label for="close_time">Close Time (MM/DD/YY HH24:MI:SS)</label>
							<input type="close_time" class="form-control" id="close_time" placeholder="Close Time" ng-model="close_time">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary" ng-click="addToDinnerList();">
							Save changes
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="container">
			<div class="modal fade" id="addToCartDialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Add To Cart</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="quantity">Quantity</label>
								<input type="title" class="form-control" id="quantity" placeholder="Quantity" ng-model="quantity">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button>
							<button type="button" class="btn btn-primary" ng-click="addToCart();">
								Save changes
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<div class="container">

				<div class="modal fade" id="cartItemsDialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title">Cart Items</h4>
							</div>
							<div class="modal-body">
								<div class="alert alert-success" role="alert" ng-show="place_order_success" >
									{{place_order_message}}
								</div>
								<div class="alert alert-danger" role="alert" ng-hide="place_order_success" >
									{{place_order_message}}
								</div>
								<table class="table table-striped" id="listings">
									<thead>
										<th>Title</th>
										<th>Quantity</th>
										<th>Price</th>
									</thead>
									<tbody>
										<tr ng-repeat="c in cartItems">
											<td>{{c.title}}</td>
											<td>{{c.quantity}}</td>
											<td>{{c.price}}</td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td>
											<p class="bg-primary">
												Total: {{cartTotal}}
											</p></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Close
								</button>
								<button type="button" class="btn btn-primary" ng-click="placeOrder();">
									Place Order
								</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>
		<div class="container">

				<div class="modal fade" id="paymentsDialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title">Payment Information</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label for="card_number">Card Number</label>
									<input type="title" class="form-control" id="card_number" placeholder="Card Number" ng-model="card">
								</div>
								<div class="form-group">
									<label for="expiry_date">Expiry Date (MM/YYYY)</label>
									<input type="expiry_date" class="form-control" id="expiry_date" placeholder="Expiry Date" ng-model="expiry_date">
								</div>
								<div class="form-group">
									<label for="address_line_1">Address Line 1</label>
									<input type="address_line_1" class="form-control" id="address_line_1" placeholder="Address Line1" ng-model="address_line_1">
								</div>
								<div class="form-group">
									<label for="address_line_2">Address Line 2</label>
									<input type="address_line_2" class="form-control" id="address_line_2" placeholder="Address Line2" ng-model="address_line_2">
								</div>
								<div class="form-group">
									<label for="city">City</label>
									<input type="city" class="form-control" id="city" placeholder="City" ng-model="city">
								</div>
								<div class="form-group">
									<label for="state">State</label>
									<input type="state" class="form-control" id="state" placeholder="State" ng-model="state">
								</div>
								<div class="form-group">
									<label for="country">Country</label>
									<input type="country" class="form-control" id="country" placeholder="Country" ng-model="country">
								</div>
								<div class="checkbox">
								<label>
								  <input type="checkbox" ng-model="store_card"> Store credit card information for later use. (Secure)
								</label>
							      </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Close
								</button>
								<button type="button" class="btn btn-primary" ng-click="pay();">
									Pay
								</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>
