<div class="container" ng-init="init()" >
	<div class="panel panel-default" style="width:50%;">
		<div class="panel-heading">
			Add a user
		</div>
		<div class="panel-body">
			<div class="alert alert-warning alert-dismissible" role="alert" ng-show="isError">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>{{message}}</strong>
			</div>
			<div class="alert alert-success alert-dismissible" role="alert" ng-show="isSuccess">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>{{message}}</strong>
			</div>
			<form role="form">
				<div class="form-group">
					<label for="emailAddress">Email address</label>
					<input type="email" class="form-control" id="emailAddress" placeholder="Enter email" ng-model="emailAddress">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
				</div>
				<div class="form-group">
					<label for="addressLine1">Address Line1</label>
					<input type="text" class="form-control" id="addressLine1" placeholder="Address Line1" ng-model="addressLine1">
				</div>
				<div class="form-group">
					<label for="addressLine2">Address Line2</label>
					<input type="text" class="form-control" id="addressLine2" placeholder="Address Line2" ng-model="addressLine2">
				</div>
				<div class="form-group">
					<label for="city">City</label>
					<input type="text" class="form-control" id="city" placeholder="city" ng-model="city">
				</div>
				<div class="form-group">
					<label for="zip">ZipCode</label>
					<input type="text" class="form-control" id="zip" placeholder="zip" ng-model="zip">
				</div>
				<div class="form-group">
					<select class="form-control" ng-options="opt.abbreviation as opt.state for opt in states" ng-model="state" ></select>
				</div>
				<button type="submit" class="btn btn-primary" ng-click="createProfile();">
					Submit
				</button>
			</form>
		</div>
	</div>
	

